@import "tailwindcss";

@import './Components/fonts.css';


@import "tailwindcss";

h1{
    font-family: 'Quicksilver', sans-serif;
}
h2{
    font-family: 'Quicksilver', sans-serif;
}
/* h3{
    font-family: 'Quicksilver', sans-serif;
} */

/* 
*{
  border: 1px solid black;
} */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}
